@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap");
.wrap {
  padding: 0px 9.477vw 0px 9.477vw;
  background: black;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1.603vw;
  height: auto;
  margin: 0px;
}
body{
  margin: 0;
}
ul {
  padding: 0;
}
a {
  font-family: "Rubik", sans-serif;
  font-family: Rubik;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-decoration: none;
  list-style-type: none;
}
footer a{
  color: #000;
  font-size: 1em;
  margin-left: 20px;
}
ul li a{
    color: #fff;
}
.menu {
  position: fixed;
  left: 9.477vw;
  top: 25vh;
}

.img {
  background: url("../images/cover.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.brand {
  grid-column-start: 1;
  color: #D2FB51;
  font-family: Rubik;
  font-size: 3rem;
  line-height: 3.5625rem;
}

.cover {
  position: relative;
  color: #D2FB51;
  grid-column-start: 2;
  width: 510%;
}
.cover p {
  left: 40%;
  right: auto;
  position: absolute;
  font-family: Rubik;
  font-size: 3rem;
  line-height: 3.5625rem;
  color: #D2FB51;
}

h2 {
  font-family: Rubik;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #FFFFFF;
}

h1 {
  font-family: Rubik Mono One;
  font-size: 3rem;
  line-height: 3.5625rem;
  text-transform: uppercase;
  color: #D2FB51;
}

p {
  font-family: Rubik;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
}

.about {
  margin-top: 12%;
  grid-column: 2/ span 5;
}

.sect {
  margin-bottom: 14%;
}

#art {
  justify-content: flex-end;
}

#double {
  justify-content: space-between;
}

.how {
  grid-column-start: 2;
  margin-bottom: 14%;
}
.how h1 {
  letter-spacing: 0.15rem;
  color: white;
}
.how .star {
  margin-right: 1vw;
  width: 3rem;
  height: 3rem;
  background: url("../images/star.svg");
  background-size: contain;
}
.how .row {
  display: flex;
  align-items: center;
}
.how .tg {
  display: flex;
  align-items: center;
}

.cloud {
  grid-column: 1/ span 5;
  position: relative;
}

.form {
  position: relative;
  background-image: url("../images/dots.svg");
  background-size: contain;
  width: 100%;
  height: 16.1vw;
  background-repeat: no-repeat;
}

.square {
  position: absolute;
  background: white;
  top: 21%;
  left: 12%;
  bottom: 21%;
  right: 12%;
}

.flex {
  display: grid;
  flex-direction: column;
  right: 16%;
  position: absolute;
  top: 0%;
  left: 16%;
  bottom: 0%;
  align-content: center;
  align-items: center;
}
.text-shape > *{
  color: black;
}
.icon{
  margin-top: 130px;
  margin-bottom: 130px;
  grid-column: 2/ span 4;
}
.logotype{
  margin-top: 150px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logotype:first-of-type{
  margin: 0;
}
.logotype img{
  height: 277px;
}

.starwars{
  position: relative;
  grid-column: 1/ span 5;
}
.bg-row{
  height: auto;
  background-image: url("../images/stars.svg");
  background-size: contain;
  width: 100%;
  height: 65vw;
  background-repeat: repeat-y;
}
.bg-square{
  position: absolute;
  background-color: #fff;
  height: 49vw;
  width: 79.7%;
  top: 12.5%;
  left: 10%;
  bottom: 21%;
  right: 12%;
}
.sw-content{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.sw-content > *{
  color: #000;
}
.sw-content p:first-of-type{
  margin-bottom: 70px;
}
.sw-content img{
  margin-top: 50px;
}
.usage-logo{
  margin-top: 130px;
  display: flex;
  justify-content: center;
}
.usage img:nth-of-type(1){
  margin-top: 165px;
  margin-bottom: 30px;
}
.usage p{
  width: 70%;
}
.usage img:nth-of-type(2){
  margin-top: 160px;
}
.color-sample-s{
  margin-top: 96px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.color-sample{
  flex: 50%;
}
.color-sample:last-of-type{
  margin-top: 115px;
}
.colors{
  margin-bottom: 200px;
}
.colors h1:first-of-type{
  margin-top: 96px;
}
.colors h1:nth-of-type(2){
  margin-top: 150px;
  margin-bottom: 50px;
}
.colors  h2{
  margin-bottom: 50px;
}
.samples{
  display: flex;
}
.samples > *{
  flex: 50%;
}
.rubic{
  margin-right: 50px;
}
.rubic *{
  color: #000;
  font-family: "Rubik", sans-serif;
}
.monorubic *{
  color: #000;
  font-family: Rubik Mono One;
}
h4{
  font-size: 1em
}
.typo-rates{
  display: flex;
  align-items: center;
}
.typo-rates:first-of-type{
  margin-top: 100px;
}
.typo-line{
  margin: 0 20px 0 20px;
  height: 1px;
  width: 187px;
  background-color: #fff;
}
.typo-rates p:nth-of-type(2){
  flex: 20%;
}
.grids h1:nth-of-type(2){
  margin-top: 100px;
}
.grid-build div{
  display: flex;
  align-items: baseline;
}
.grid-build h3{
  margin-right: 20px;
  color: #fff;
  font-family: Rubik;
  font-size: 4em;
}
.grid-section{
  margin-top: 150px;
}
.grid-section img{
  margin-top: 50px;
}
.image-samples{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.image-smpl{
  flex: 50%;
}
.image-smpl p{
  margin: 0;
  margin-top: 20px;
  text-align: center;
}
.compoz-build{
  margin-left: 50px;
  display: block !important;
  width: 70%;
}
.texsts{
  margin-top: 120px;
}
.texsts-section{
  width: 70%;
  margin-bottom: 100px;
}
.texsts-section > *{
  color: #D2FB51;
}
.texsts-section h1{
  text-align: center;
}
.texsts-section p:first-of-type{
  text-align: right;
}
.texsts-section:nth-of-type(2){
  margin-left: 25%;
  width: 75%;
}
.merch img{
  margin-bottom: 30px;
  width: 117.8%;
}
footer{
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  background-color: #D2FB51;
}
.logo-f{
  margin-left: 9.477vw;
}
.links{
  margin-right: 9.477vw;
}

.usage, .colors, .typo-style, .grids, .imagery, .composition, .tone, .merch{
  margin-top: 150px;
  grid-column: 2/ span 4;
}
.sect p:first-of-type, .grids p:first-of-type, .colors p:first-of-type, .p-f{
  width: 80%;
}
/*# sourceMappingURL=guide.css.map */
