@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Mono+One&display=swap');
$green: #D2FB51;
body {
  background: black;
  overflow: auto;
  display: grid;
  grid-template-columns: 9.477vw 1fr 1.603vw 1fr 1.603vw 1fr 1.603vw 1fr 1.603vw 1fr 9.477vw;
  grid-column-gap: 0;
  height: auto;
  margin: 0px;
}
ul {
  padding: 0;
  li {
    font-family: 'Rubik', sans-serif;
    color: white;
    font-family: Rubik;
    font-size: 1.5rem;
    line-height: 1.75rem;
    text-decoration: none;
    list-style-type: none;
  }
}

.menu {
  position: fixed;
  left: 9.477vw;
  top: 25vh;
}
.img {
  background: url("../images/cover.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.brand {
  grid-column-start: 2;
  color: $green;
  font-family: Rubik;
  font-size: 3rem;
  line-height: 3.5625rem;
}
.cover {
  position: relative;
  color: $green;
  grid-column-start: 4;
  grid-column-end: 12;
  p {
    left: 40%;
    right: auto;
    position: absolute;
    font-family: Rubik;
    font-size: 3rem;
    line-height: 3.5625rem;
    color: $green;
  }
}
h2 {
  font-family: Rubik;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #FFFFFF;
}
h1 {
  font-family: Rubik Mono One;
  font-size: 3rem;
  line-height: 3.5625rem;
  text-transform: uppercase;
  color: $green;
}
p {
  font-family: Rubik;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #FFFFFF;
}
.about {
  margin-top: 12%;
  grid-column-start: 4;
  grid-column-end: 11;
}
.sect {
  margin-bottom: 14%;
}
#art {
  justify-content: flex-end;
}
#double {
  justify-content: space-between;
}
.how {
  grid-column-start: 6;
  margin-bottom: 14%;

  h1 {
    letter-spacing: 0.15rem;
    color: white;
  }
  .star {
    margin-right: 1vw;
    width: 3rem;
    height: 3rem;
    background: url("../images/star.svg");
    background-size: contain;
  }
  .row {
    display: flex;
    align-items: center;
  }
  .tg {
    display: flex;
    align-items: center;
  }

}
.cloud {
  grid-column-start: 4;
  grid-column-end: 11;
  position: relative;
}
.form {
  position: relative;
  background-image: url("../images/dots.svg");
  background-size: contain;
  width: 100%;
  height: 16.1vw;
  background-repeat: no-repeat;
}
.square {
  position: absolute;
  background: white;
  top: 21%;
  left: 12%;
  bottom: 21%;
  right: 12%;
}
.flex {
  display: grid;
  right: 16%;
  position: absolute;
  top: 0%;
  left: 16%;
  bottom: 0%;
  align-content: center;
  align-items: center;
  p {
    color: black;
    position: absolute;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }
}
